<section class="thara-categories">
    <div class="container">

        <!-- العنوان -->
        <h2 class="title">{{ component.category_title }}</h2>

        <!-- حاوية السكرول -->
        <div class="thara-categories__scroll">

            {% for item in component.category_item %}
                <a href="{{ item.url }}" class="thara-category">

                    <div class="thara-category__image-wrapper">
                        <img src="{{ item.image }}" alt="{{ item.title }}" loading="lazy">
                    </div>

                    <p class="thara-category__title">{{ item.title }}</p>

                </a>
            {% endfor %}

        </div>

    </div>
</section>
