{# Tharaa - Products Slider (patched)
   Adds a unique class for safe scoped styling/JS patching.
   Keeps original behavior.
#}

{%- set sub_title = sub_title is empty ? '' : sub_title -%}

{%- set source = items.type|default('latest_products') -%}
{%- set source_value = '' -%}
{%- if source == 'chosen_products' -%}
	{%- set source = 'selected' -%}
	{%- set source_value = items.products -%}
{%- endif -%}

<section class="s-block s-block--products-slider s-block--products-slider-{{ position }}">
	<div class="container">
		{% if products|length %}
			<salla-products-slider class="th-products-slider" source="selected" limit="{{ limit }}" {{ autoplay ? 'autoplay' : '' }} source-value="[{{ products|map((product) => product.id)|join(',') }}]" display-all-url="{{display_all_url}}" block-title="{{ title }}" block-subtitle="{{ sub_title|raw }}" slider-id="slider-with-bg-{{ position }}"></salla-products-slider>
		{% endif %}


	</div>
</section>
