{# Tharaa - Products Slider (patched)
   Adds a unique class for safe scoped styling/JS patching.
   Keeps original behavior.
#}

{%- set sub_title = sub_title is empty ? '' : sub_title -%}

{%- set source = items.type|default('latest_products') -%}
{%- set source_value = '' -%}
{%- if source == 'chosen_products' -%}
  {%- set source = 'selected' -%}
  {%- set source_value = items.products -%}
{%- endif -%}

<section class="s-block s-block--products-slider s-block--products-slider-{{ position }}">
  <div class="container">
    <salla-products-slider
  class="th-products-slider"
  source="{{ source }}"
  source-value="{{ source_value }}"
  block_title="{{ block_title }}"
  block_sub_title="{{ block_sub_title }}"
  slider-id="{{ slider_id }}">
</salla-products-slider>

  </div>
</section>
