{# MOBILE (نحافظ على السلوك الحالي) #}
<li class="lg:hidden text-sm font-bold th-hdr__m-item" {{ menu.attrs }}>
    {% if not menu.has_children %}
        <a {{ menu.link_attrs|raw }} href="{{ menu.url }}" class="text-gray-500 th-hdr__m-link">{{ menu.title }}</a>
    {% else %}
        <span class="th-hdr__m-title">{{ menu.title }}</span>
        <ul class="th-hdr__m-sub">
            <li class="text-sm font-bold">
                <a {{ menu.link_attrs|raw }} href="{{ menu.url }}" class="text-gray-500 th-hdr__m-link">{{ menu.title }}</a>
            </li>
            {% for submenu in menu.children %}
                {% include _self with {menu:submenu} %}
            {% endfor %}
        </ul>
    {% endif %}
</li>

{# DESKTOP #}
<li class="!hidden lg:!block th-hdr__nav-item
    {{ is_root_menu ? 'root-level lg:!inline-block' : 'relative th-hdr__sub-item' }}
    {{ menu.products ? ' mega-menu th-hdr__is-mega' : '' }}
    {{ menu.has_children ? ' has-children' : '' }}"
    {{ menu.attrs|raw }}>

    <a {{ menu.link_attrs|raw }} href="{{ menu.url }}" class="th-hdr__nav-link">
        <span class="th-hdr__nav-text">{{ menu.title }}</span>

        {% if menu.has_children and is_root_menu %}
            <i class="sicon-keyboard_arrow_down th-hdr__arrow-down"></i>
        {% elseif menu.has_children %}
            <i class="sicon-keyboard_arrow_left th-hdr__arrow-left"></i>
        {% endif %}
    </a>

    {% if menu.has_children %}
        <div class="sub-menu th-hdr__dropdown {{ menu.products ? 'th-hdr__dropdown--mega w-full left-0 flex' : 'th-hdr__dropdown--flyout w-56' }}">
            <ul class="th-hdr__submenu {{ menu.products ? 'w-56 shrink-0 m-8 rtl:ml-0 ltr:mr-0' : '' }}">
                {% for submenu in menu.children %}
                    {% include _self with {menu:submenu, is_root_menu:false} %}
                {% endfor %}
            </ul>

            {% if menu.products %}
                <div class="grow p-8 th-hdr__mega-products">
                    <div class="grid gap-4 grid-cols-4">
                        {% for product in menu.products|slice(0, 4) %}
                            <salla-product-card shadow-on-hover product="{{product}}"></salla-product-card>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
</li>
