{#
| Variable   | Type | Description                    |
|------------|------|--------------------------------|
| menu       | Menu | القائمة الحالية                |
| is_root    | Bool | هل هذه قائمة رئيسية أم فرعية   |
#}

<li class="th-nav-item th-cascading-item group/item {{ menu.has_children ? 'has-children' : '' }} {{ is_root ? '' : 'w-full' }}">

	<a href="{{ menu.url }}" class="{{ is_root ? 'th-nav-link' : 'th-cascading-link' }}">
		{% if not is_root %}
			<div class="flex items-center gap-3">
				{% if menu.image %}
					<img src="{{ menu.image }}" alt="{{ menu.title }}" class="w-8 h-8 rounded-full object-cover bg-gray-50">
				{% else %}
					<i class="sicon-layout-grid text-gray-300 text-lg group-hover/item:text-gold transition"></i>
				{% endif %}
				<span>{{ menu.title }}</span>
			</div>
		{% else %}
			{{ menu.title }}
		{% endif %}

		{% if menu.has_children %}
			<i class="{{ is_root ? 'sicon-keyboard_arrow_down mt-1 text-[10px]' : 'sicon-keyboard_arrow_left text-[10px]' }} opacity-60 group-hover/item:text-gold transition"></i>
		{% endif %}
	</a>

	{% if menu.has_children %}
		{# القائمة المنسدلة #}
		<div class="th-dropdown {{ is_root ? 'root-level' : 'side-level' }}">
			<ul class="flex flex-col">
				{% for child in menu.children %}
					{% include 'components.header._menu-item' with { menu: child, is_root: false } %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</li>